.btn-naranja {
    color: #fff !important;
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    border-radius: 25px 25px 25px 25px !important;
}

.btn-comprar {
    color: #fff !important;
    background-color: #0088ff !important;
    border-color: #0088ff !important;
    border-radius: 25px 25px 25px 25px !important;
}

.texto {
    color: #fff !important;
    --text-shadow: 1px 2px #999 !important;
    position: absolute !important;
    top: 30% !important;
    left: 20% !important;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card img {
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 2px solid #000;
}

.card .pago img {
    display: block !important;
    margin: auto !important;
    width: 35% !important;
    height: auto !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    border-radius: 50% !important;
    background-size: 100% auto !important;
    border: 0px solid #000 !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.cambiar:hover {
    background: #ccc;
    color: #494c46;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    box-shadow: inset 0 0 0 3px #555953;
}

.list {
    color: white;
    text-decoration: none;
}

.text-center {
    color: white;
}

.div-contact {
    margin: 0 auto 25px;
    margin-top: 15%;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.div-c {
    width: 50%;
    height: 20%;
    background-color: #2A8768;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.imagen-f {
    width: 100%;
    height: 90%;
    background: url("../img/fondo1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info {
    color: white !important;
}

.form-control {
    border-radius: 25px 25px 25px 25px !important;
    padding: 20px 20px 20px 20px !important;
}

.card-body {
    border-radius: 7px;
    background-color: #fff;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.divcentrado {
    /* background-color: #0D59A0;*/
    margin-right: auto;
    justify-content: center;
    /* display:inline-block;*/
    text-align: center;
}

.avatar img {
    width: 30px;
    height: 30px;
}